@import url(//fonts.googleapis.com/css?family=Jost:400,600,700,300);
/* @import url(//fonts.googleapis.com/css?family=Proxima+Nova:400,600,700,300); */

body {
	font-family:  'Jost', sans-serif !important;
	background-color: #f4f4f4;
	margin: 0;
}
#chart {
   margin: 0 auto;
   max-width: 1200px;
	/* background-color: #000; */
}
p {
    margin:1.66em ;
    text-align: left ;
}
.selector{
   opacity:0.6;
}

#main {
   margin: 0;
   padding: 0;
  /*  display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row;
   flex-flow: row; */
}
a {
	color:#333
}

h1 {
	font-size:1.2rem;
	text-align: left;
	line-height:1.2rem;
	font-weight:600;
	margin: 0;
}

label {
	color: grey;
	font-weight: 400;
	font-size: 80%;
}

#yearRange{
	padding: 1em;
	text-align:center;
	line-height: 0.3em;
	/* max-width:50%; */
	font-weight: bold;
}
#yearRange span {
	color: #d5e0e6;
	width: 30%;
	/* text-align:right; */
	/* padding-: 1em; */
	font-weight: 200;
	font-size: 90%;
}



.center {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.center td {
	border-radius: 15px;
	/* margin:1em; */
	/* font-size: 12px; */
	padding-left:2em;
	padding-right:2em;
	background-color: #d5e0e6;
	border: 1px solid #598cae;
/* 		color: #fff; */
	font-size:80%;
}

.grow { 
	opacity: 0.8;
	-webkit-transition: .2s;
	transition:  .2s ease-in-out; 
}
.grow:hover {
		transform: scale(1.15); 
		opacity: 1;
	}


.center th {
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
	line-height: 0.7em;
	font-size: 80%;
	color: #555;
}
.center tr { 
	padding-left: 15em;
	
}
.center a {
	font-size:80%;
	font-weight:300;
	color: #333;
	padding-left:auto;
}
/* table {
	min-width:180px;
	border-spacing: 10px;
} */

/*------ SLIDER each 5 years -----------------*/
.slider {
  -webkit-appearance: none;
  /* min-width: 35%; */
  width: 350px;
  
  height: 0.1em;
  /* background: #d5e0e6; */
  border: 1px solid #598cae90;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
  padding: 10px;
}

.slider:hover {
  opacity: 1;
  background: #bee0f290;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16%;
  height: 1em;
  background: #598cae70;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16%;
  height: 1em;
  background: #598cae70;
  border: 1px solid #598cae;
  cursor: pointer;
}
.sliderticks {
   display: flex;
   width: 350px;
   margin: 0 auto;
   justify-content: space-between;
   
 }
 
.sliderticks p {
   position: relative;
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0 0 10px 0;
   font-size:60%;
   color:#aaa;
}

/*------ SLIDER FOR STOCKS (specific to year) -----------------*/
.slider-stock {
   -webkit-appearance: none;
   /* min-width: 35%; */
   width: 350px;
   
   height: 0.1em;
   /* background: #d5e0e6; */
   border: 1px solid #598cae90;
   outline: none;
   opacity: 0.5;
   -webkit-transition: .2s;
   transition: opacity .2s;
   border-radius: 20px;
   padding: 10px;
 }
 
 .slider-stock:hover {
   opacity: 1;
   background: #bee0f290;
 }
 
 .slider-stock::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 1em;
   height: 1em;
   background: #598cae70;
   cursor: pointer;
 }
 
 .slider-stock::-moz-range-thumb {
   /* width: 16%; */
   height: 1em;
   background: #598cae70;
   border: 1px solid #598cae;
   cursor: pointer;
 }



.box {
  --min: 16ch;
  --gap: 0rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.box > * {
  flex: 1 1 var(--min);
  
}


footer {
  background: #d5e0e6;
  padding: 1em;
  margin: 0;
}
 
/* #chart svg {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	min-width: 500px;
} */

.wrap-collabsible input[type='checkbox'] {
	display: none;
}
.lbl-toggle {
	display: block;
	/* font-weight: bold; */
	text-align: center;
	padding: 0.6em;
	/* background: #d5e0e6; */
	cursor: pointer;
	transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
	color: #000;
}
.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 0.7rem;
	transform: translateY(-2px);
	transition: transform 0.2s ease-out;
}
.toggle:checked  + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
	max-height: 0px;
	background: #f4f4f4;
	overflow: hidden;
	transition:  0.25s ease-in-out;
	
}
.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
}
.toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.collapsible-content p {
	margin-bottom: 0;
}

/* header */


.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
  /* background-color: #fff; */
}

.header li a {
  display: inline-block;
  text-align: center;
  padding: 5px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
}


.header .logo {
  display: block;
  float: left;
  font-size: 1.2rem;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
   line-height: 1em;
	text-decoration: none;
  font-size: 0.8em;
  color: initial;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
     
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

